redirects: on
framework: <= net471
source https://www.nuget.org/api/v2/

nuget EventFlow >= 0.75
nuget Newtonsoft.Json >= 12.0
nuget MongoDB.Driver >= 2.9.0
nuget FireSharp >= 2.0.4

group Test
	redirects: on
	framework: <= net471
	source https://www.nuget.org/api/v2/
	
	nuget AutoFixture ~> 3.0
	nuget AutoFixture.AutoMoq ~> 3.0
	nuget FluentAssertions ~> 4.2
	nuget Helpz
	nuget Moq ~> 4.0
	nuget NUnit ~> 3.0